body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: #081f49;
}
*{
    box-sizing: border-box;
}
h1{
    margin: 0;
    
}
h2{
    font-size: medium;
    
}
label{
    font-size: large;
}
.alld , .alld1 , .alld2{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #081f49; 
    color: #ffff; 
    height: 40%;
}
.alld1{
    background-color: rgb(9, 149, 204);
    height: 40%;
}
.allds{
    width: 50%;
    height: 70%;
}
.alld2{
    background-color: rgb(8, 31, 73); 
    color: #ffff; 
    height: 50%;
}
.BMII{
    text-align: center;
}
.section{
    display: flex;
    justify-content: space-between;
}
#subm , #sub, #subtax{
    width: 100%;
    height: 70px;
    font-size: xx-large;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
h1{
    width: 100%;
    text-align: center;
}
.abe, .abe2{
    width: 100%;
    background-color: rgb(4, 19, 37);
    color: #ffff; 
    height: 40%;
}
.abe2{
    background-color: rgb(158, 5, 38);
    color: #ffff; 
    height: 40%;
}
.abes{
    display: flex;
    justify-content: center;
    width: 100%;
}

.section{
    align-items: center;
}

.row{
    display: flex;
    justify-content: center;
}
.btn{
    width: 3vw;
}
@media only screen and (max-width: 604px) {
    span{
        display: none;
    }
  

}


.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.calculator input {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 4px;
}

.calculator button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calculator button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}








